<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15257117891-a2manrjb89o2rm4kh5ugsch4d7rtsnmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15257117891-a2manrjb89o2rm4kh5ugsch4d7rtsnmt</string>
	<key>API_KEY</key>
	<string>AIzaSyD0i5QCT4sZDqonC_2zcLi5tkLpTJqnFeo</string>
	<key>GCM_SENDER_ID</key>
	<string>15257117891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iqonic.cryptocoin</string>
	<key>PROJECT_ID</key>
	<string>cryptocoin-6f4e9</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptocoin-6f4e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15257117891:ios:04d8a5691f3b18ff5d6e76</string>
</dict>
</plist>